# Ignore all .tmp files
*.tmp

# Ignore all .log files
logs/
*.log

# Ignore backup files
instance/simplebackups/

# Ignore crash-reports
instance/crash-reports

# Ignore Private info
instance/usercache.json
instance/usernamecash.json

# Other
instance/TrashSlotSaveState.json
instance/shaderpacks/
instance/downloads/